body {
    min-width: none;
    font-family: "Roboto", sans-serif;
    background: url('img/background.jpg') no-repeat;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 20px;
  }

@media (max-width: 1440px){.container {
    min-width: 970px;}
}
@media (max-width: 992px){.container {
    min-width: 750px;}
}
@media (max-width: 767px){.container {
    min-width: none;}
}

  
.ava {
    max-width: 250px;
    min-width: none;
    border-radius: 10%;
    box-shadow: 7px 7px 20px  black;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 70px;
    margin-bottom: 5px;
    float: right;
    filter: contrast(120%);
    filter: brightness(110%);  
}


.Myinfo {
    max-width: 1100px;
    min-width: none;
    max-height: 100%;
    background-color: rgb(242, 250, 215);
    border-radius: 5%;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 15px;
    margin-bottom: 5px;
    box-shadow: 7px 7px 20px  black;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 5px;
    padding-bottom: 10px;
    filter: opacity(100%);}
    


.Myinfo h1 {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 2px;
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(2, 41, 2);
}

.Myinfo p {
    
    margin-top: 4px;
    margin-left: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;

}

.Myinfo2 {
    max-width: 1100px;
    min-width: none;
    max-height: 100%;
    background-color:  rgb(242, 250, 215);
    border-radius: 5%;
    margin-top: 10px; 
    margin-left: 150px;
    margin-right: 15px;
    margin-bottom: 10px;
    box-shadow: 7px 7px 20px  black;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 5px;
    padding-bottom: 10px;
   

}

.Myinfo2 h2 {
    
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    color: rgb(2, 41, 2);

}

.Myinfo2 li {
    
    margin-top: 4px;
    margin-left: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;

}

.Myinfo3 {
    max-width: 1100px;
    min-width: none;
    background-color:  rgb(242, 250, 215);
    border-radius: 5%;
    margin-top: 10px; 
    margin-left: 150px;
    margin-right: 15px;
    margin-bottom: 10px;
    box-shadow: 7px 7px 20px  black;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 5px;
    padding-bottom: 20px;
}

.Myinfo3 h2 {
    
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: rgb(2, 41, 2);

}

table  {
   max-width: 900px;
   min-width: none;
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 10px;
    
}

table tr td {white-space: pre-wrap;
    background-color: rgb(147, 245, 147);
    font-family: sans-serif, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid rgb(2, 41, 2);
    border-radius: 10%;
    box-shadow: 7px 7px 20px  black;}